@import url("formularios.css");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

h1, h2, h3 {
	color: #0066FF;
    font-variant: small-caps;
    letter-spacing: 0.1ex;
}

img {
	border: 0;
	vertical-align: middle;
}

a, a:visited {
	color: #0066FF;
}

.left {
	float: left;
	width: 33%;
}

#container {
	background-color: #FFFFFF;
	border: 1px solid #0066FF;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	left: 50%;
    margin-left: -485px;
	margin-top: 15px;
    padding: 15px;
    position: absolute;
	width: 970px;
}


#maincontent {
	margin-top: 10px;
}

#footer {
	margin-top: 20px;
	text-align: right;
}

#titulo {
	float: left;
}

#titulo a {
	text-decoration: none;
}

#conectado {
	float: right;
	text-align: right;
}

#conectado a {
	color: #FF6600;
	text-decoration: none;
}

.mensaje {
	background-color: #FFFFFF;
	border: 1px solid #0066FF;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	margin-top: 15px;
    padding: 15px;
}

.datos_mensaje {
	background-color: #FFFFFF;
	border-left: 1px solid #FF6600;
	float: right;
	padding: 15px;
	width: 20%;
}

.cuerpo_mensaje {
	float: left;
	width: 75%;
}

.opciones_admin {
	float: right;
}

.message {
	font-size: 14px;
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

#paginas {
	margin-top: 15px;
	text-align: center;
}