@import url("formularios.css");

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

h1, h2, h3 {
	color: #6666FF;
    font-variant: small-caps;
    letter-spacing: 0.1ex;
}

img {
	border: 0;
	vertical-align: middle;
}

a, a:visited {
	color: #6666FF;
}

.left {
	float: left;
	width: 33%;
}

#container {
	background-color: #FFFFFF;
	border: 1px solid #AACFE4;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	left: 50%;
    margin-left: -485px;
	margin-top: 15px;
    padding: 15px;
    position: absolute;
	width: 970px;
}

#header {
	/*margin-bottom: 20px;*/
}

#maincontent {
	margin-top: 10px;
}

#footer {
	margin-top: 20px;
	text-align: right;
}

#header p {
	float: right;
}

#nav {
	margin-bottom: 10px;
}

#nav p {
    color: #6666FF;
    font-variant: small-caps;
    letter-spacing: 0.1ex;
}

#pr_title a {
	text-decoration: none;
}

#pr_title {
	float: left;
}

#conectado {
	float: right;
}

.mensaje {
	background-color: #FFFFFF;
	border: 1px solid #AACFE4;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
	margin-top: 15px;
    padding: 15px;
}

.opciones {
	float: right;
}

.message {
	font-size: 14px;
	margin-bottom: 15px;
}

.clear {
	clear: both;
}