#table{
	margin: auto;
	margin-bottom: 15px;
	position: relative;
	width: 800px;
}

#details {
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin: auto;
	position: relative;
}

#details tfoot td {
	font-style: italic;
	text-align: center;
	width: auto;
}

#details th {
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

#details td {
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
	width: 250px;
}

#details tbody tr:hover td {
	background: #d0dafd;
}

#topleft {
	-webkit-border-top-left-radius: 2em;
	-moz-border-radius-topleft: 2em;
	border-top-left-radius: 2em;
}

#topright {
	-webkit-border-top-right-radius: 2em;
	-moz-border-radius-topright: 2em;
	border-top-right-radius: 2em;
}

#tbottom {
	-webkit-border-bottom-left-radius: 2em;
	-webkit-border-bottom-right-radius: 2em;
	-moz-border-radius-bottomleft: 2em;
	-moz-border-radius-bottomright: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}